<html>
	<head>

		<link rel="stylesheet" href="TaskPost.css">
	</head>
	
	<div class="Containne_Task">
		<hgroup>
			<h2 class="title_task">title task</h2>
			<p class="Subtitle_task">hhiihihi</p>
		</hgroup>
		<p class="Text_task">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500
			s, when an unknown printer took a galley of type and scrambled it to make a type 
			specimen book. It has survived not only five centuries, but also the leap into electronic 
			typesetting, remaining essentially unchanged.
		</p>
		<button class="btn delete">delete</button>
		<button class="btn  Update">Update</button>
	</div>

</html>
		
		
		
			