	*{
		margin:0px;
		padding:0px;
	}
	
	.App{
		background:gray;
		height:100vh;
	}

	.header{
		display:flex;
		justify-content: space-between;
		padding:6px;
		background:rgb(51, 102, 153);
		margin-bottom:2px;
	
	}
	.title-header{
		color:white;
		
	}
	.Link-New-Task{
		list-style:none;
		text-decoration:none;
		color:white;
		background:gray;
		padding:4px;
		border-radius:7px;
		font-size:20px;
		
		
	}
	
/*********************************/


